<ion-view view-title="" hide-nav-bar="true">
  <ion-content class="login-content" scroll="false">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="info.uname">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="info.pwd">
      </label>

      <div class="btn-box">
        <button class="button button-positive" ng-click="login()">
          login
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
